@model Payne.ViewModels.Account.ForgetPasswordVm

<!-- Breadcrumb area Start -->
<section class="page-title-area bg-color" data-bg-color="#f4f4f4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Forget Password</h1>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="current"><span>Forget Password</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb area End -->

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="page-content-inner pt--75 pb--80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="login-box">
                        <form class="form form--login" method="post" asp-action="ForgetPassword" asp-controller="Auth">
                            <div class="form__group mb--20">
                                <label class="form__label" asp-for="Email">Email Address <span class="required">*</span></label>
                                <input asp-for="Email" class="form__input" placeholder="Enter your email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="d-flex align-items-center mb--20">
                                <div class="form__group mr--30">
                                    <input type="submit" value="Send Reset Link" class="btn btn-size-sm">
                                </div>
                            </div>

                            <a class="forgot-pass" asp-action="Login" asp-controller="Auth">Back to Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content Wrapper End -->