@model List<Product>
<!-- Breadcrumb area Start -->
<section class="page-title-area bg-color" data-bg-color="#f4f4f4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Shop</h1>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="current"><span>Shop</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb area End -->

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="shop-page-wrapper ptb--80">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 order-lg-2 mb-md--50">
                    <div class="shop-toolbar mb--50">
                        <div class="row align-items-center">
                            <div class="col-md-5 mb-sm--30 mb-xs--10">
                                <div class="shop-toolbar__left">
                                    <div class="product-ordering">
                                        <select class="product-ordering__select nice-select">
                                            <option value="0">Default Sorting</option>
                                            <option value="1">Relevance</option>
                                            <option value="2">Name, A to Z</option>
                                            <option value="3">Name, Z to A</option>
                                            <option value="4">Price, low to high</option>
                                            <option value="5">Price, high to low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="shop-toolbar__right">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="filter-result">
                        @await Component.InvokeAsync("Shop")
                    </div>
                    <nav class="pagination-wrap">
                        <ul class="pagination">
                            <li><span class="page-number current">1</span></li>
                            <li><a href="#" class="page-number">2</a></li>
                            <li><span class="dot"></span></li>
                            <li><span class="dot"></span></li>
                            <li><span class="dot"></span></li>
                            <li><a href="#" class="page-number">16</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="shop-widget mb--40">
                    <h3 class="widget-title mb--25">Search</h3>
                    <form id="widgets-searchbox" class="d-flex custom-search">
                        <input id="searchValue" type="text" class="form-control form-control-sm me-2" name="search" placeholder="Search..." style="width: 150px;" />
                        <button type="submit" class="btn btn-sm btn-primary">go</button>
                    </form>
                </div>
                <div class="col-xl-3 col-lg-4 order-lg-1">
                    <aside class="shop-sidebar">
                        <div class="shop-widget mb--40">
                            <h3 class="widget-title mb--25">Category</h3>
                            <ul class="widget-list category-list">
                                <li>
                                    <a href="shop.html">
                                        <span class="category-title">Winter Collection</span>
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span class="category-title">Women’s Clothes</span>
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span class="category-title">Men’s Clothes</span>
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span class="category-title">Kid’s Clothes</span>
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span class="category-title">Uncategorized</span>
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span class="category-title">Accessories</span>
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span class="category-title">New Arrival</span>
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-widget mb--40">
                            <h3 class="widget-title mb--30">Color</h3>
                            <div class="widget-color">
                                <a href="shop.html" class="red">Red</a>
                                <a href="shop.html" class="pink">Pink</a>
                                <a href="shop.html" class="black">black</a>
                                <a href="shop.html" class="brown">brown</a>
                                <a href="shop.html" class="blue">blue</a>
                                <a href="shop.html" class="cholate">cholate</a>
                                <a href="shop.html" class="copper">copper</a>
                                <a href="shop.html" class="gray">grey</a>
                            </div>
                        </div>
                        <div class="shop-widget mb--40">
                            <h3 class="widget-title mb--25">Price</h3>
                            <ul class="widget-list price-list">
                                <li>
                                    <a href="shop.html">
                                        <span>Low - Medium</span>
                                        <strong class="font-weight-medium">$10.00 - $45.00</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span>Medium - High</span>
                                        <strong class="font-weight-medium">$45.00 - $60.00</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span>High - Avobe</span>
                                        <strong class="font-weight-medium">$60.00 - $200</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-widget mb--40">
                            <h3 class="widget-title mb--25">Brand</h3>
                            <ul class="widget-list brand-list">
                                <li>
                                    <a href="shop.html">
                                        <span>Walmart</span>
                                        <strong class="color--red font-weight-medium">10</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span>Yellow</span>
                                        <strong class="color--red font-weight-medium">50</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span>H &amp; M</span>
                                        <strong class="color--red font-weight-medium">46</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <span>Black &amp; White</span>
                                        <strong class="color--red font-weight-medium">46</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-widget">
                            <h3 class="widget-title mb--25">Tag</h3>
                            <div class="tagcloud">
                                <a href="shop.html">Cloth</a>
                                <a href="shop.html">Blazer</a>
                                <a href="shop.html">Jacket</a>
                                <a href="shop.html">Polo Shirt</a>
                                <a href="shop.html">T-Shirt</a>
                                <a href="shop.html">Shoes</a>
                                <a href="shop.html">Pant</a>
                                <a href="shop.html">Party Dress</a>
                                <a href="shop.html">Coktail Dress</a>
                                <a href="shop.html">Sweater</a>
                                <a href="shop.html">Jeans</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content Wrapper Start -->